<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars universe planets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/planets.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/planets.js') }}" defer></script>
</head>
<body>
    <h1>Star Wars universe planets</h1>
    <p>

        <a class="btn btn-primary" href="/{{ previous_page_id }}" class="button">Previous</a>
        <a class="btn btn-primary" href="/{{ next_page_id }}" class="button">Next</a>
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Diameter (km)</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface water percentage</th>
            <th>Population</th>
            <th>Residents</th>
        </tr>
        {% for name, diameter, climate, terrain, surface_water, population, residents in planets %}
        <tr>
            <td> {{ name }} </td>
            <td> {{ diameter }} </td>
            <td> {{ climate }} </td>
            <td> {{ terrain }} </td>
            <td> {{ surface_water }} </td>
            <td> {{ population }} </td>
            <td> 
                {% if residents[1] %}
                <button type="button" class="btn btn-primary residents"  data-toggle="modal" data-target="#exampleModal" data-resident-url = {{residents[1]}}>
                {{ residents[0] }}
                </button>
                {% else %}
                <p> {{ residents[0] }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Residents</h5>
            </div>
            <div class="modal-body">
                <table >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Height (cm)</th>
                            <th>Mass (kg)</th>
                            <th>Hair color</th>
                            <th>Skin color</th>
                            <th>Eye color</th>
                            <th>Birth year</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody id="attributes">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
</body>
</html>

